.busca-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
button {
    padding: 8px 15px;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
}
th {
    background: #003366;
    color: white;
}
.btn-baixar {
    background-color: #ffc107;
    border: none;
    padding: 6px 12px;
    margin-right: 5px;
}
.btn-excluir {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 6px 12px;
}
    .btn-baixar:hover,
    .btn-excluir:hover {
        opacity: 0.8;
    }